body {
text-align: right; 
  background-image: url(http://charliesblogdotnet.files.wordpress.com/2013/12/its-a-wonderful-life-collage-73136.jpg)  ;
  background-repeat: no-repeat;
  background-size: cover; 
	  }
h1{
	text-align: center;
}


